$black: #000 !default;

$images-path: "../img";

/*
.scroll-content.ionic-scroll{
	background:#302129;
}
*/

.scroll{
	color:#57404C;	
}

.scroll .list a.item-icon-left{
	padding-left:30px;
}

.scroll .list a.item-icon-left i{
	margin-right:15px;
}

.default-bar{
  background: #281D23;
  color: #FFF;
}


// TODO (test global configs)
.wedding-view,
.weddings-view,
.attendees-view,
.comments-view,
.photos-view,
.menu-view {

	// background-color: darken($dark, 70%) !important;
 	ion-content:before
	{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;

		// opacity: 0.6;

		display: block;
		// background: url($images-path+"/wedrr-bg.jpg") no-repeat center center fixed;
		background: #57404C;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;

		// -webkit-filter: blur(1px);
		// -moz-filter: blur(1px);
		// -o-filter: blur(1px);
		// -ms-filter: blur(1px);
		// filter: blur(1px);
	}
}

.weddings-view,
.comments-view,
.attendees-view {

}