//Wedrr login page
.login{
	background:url(../img/wedrr-bg.jpg);
	  -webkit-background-size: 100% 100%;           
	     -moz-background-size: 100% 100%;
	       -o-background-size: 100% 100%;           
	          background-size: 100% 100%; 
}

.wedrr-logo{
	margin:20% auto;
}

.button-facebook{
	background:#3B5998;
	color:#FFF;
}