/* Empty. Add your own CSS if you like */

.item-divider.menuHeader {
  /*TODO: estilos del menú */
}


/* PHOTOS */
.gallery img{
	widows: 400px;

}
.gallery {
	list-style:none;
}
.gallery li{
	padding:1%;
	width: 50%;
	display:inline-block;}