<ion-view cache-view="false" 
    ng-controller="WeddingsController" 
    ng-init="init()"
    view-title="Weddings"  
    class="weddings-view">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <!-- <button menu-toggle="left"class="button button-icon icon ion-navicon"></button> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button  class="button button-icon ion-plus" 
                  ng-click="showAddWeddingModal()">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header" has-bouncing="true">
<!--     <div class="row-center padding-top padding-bottom">
      <a class="button button-icon icon ion-plus-circled wed-icon-plus"></a>
    </div> -->
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="wedding in weddings | orderBy: 'date' "
      href="#/layout/{{ wedding.id }}"
      >
       <img ng-src="{{ wedding.imgUrl }}">
       <h2>{{wedding.firstName}} & {{wedding.secondName}}</h2>
       <p>{{wedding.date | date}}</p>
       <ion-option-button class="button-light icon ion-trash-b" ng-click="delete(option)">
       </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
  </ion-view>