<div class="modal"  >
    <ion-header-bar class="bar-positive">
        <h1 class="title">Add Wedding</h1>
        <div class="buttons">
            <button class="button button-clear icon ion-close" ng-click="closeAddWeddingModal()"></button>
        </div>
    </ion-header-bar>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
        <script src="dist/jquery.maskMoney.min.js" type="text/javascript"></script>
        <script>
            $(function() {
                $('#currency').maskMoney();
            })
        </script>
    <ion-content>
            <form name="addWeddingForm" ng-submit="submitAddWedding()" >
                <div class="list">
                    <div class="row-center">
                        <a class="button button-icon icon ion-plus-circled wed-icon-plus" ng-click="takePicture()">
                            <h3>
                            Choose a photo
                            </h3>
                        </a>
                        <img ng-if="addWeddingData.imgUrl" ng-src="{{addWeddingData.img}}" height="50"  width="50" />
                    </div>
                    <label class="item item-input">
                        <!-- <span class="input-label">First name</span> -->
                        <input type="text" ng-model="addWeddingData.firstName" placeholder="Name fiance(e)" ng-required="true">
                    </label>
                    <label class="item item-input">
                        <!-- <span class="input-label">Second name</span> -->
                        <input type="text" ng-model="addWeddingData.secondName" placeholder="Name fiance(e)" ng-required="true">
                    </label>
                    <label class="item item-input">
                        <!-- <span class="input-label">Date</span> -->
                        <input ng-required="true" ng-model="addWeddingData.date" placeHolder="Date" type="date" ng-required="true">
                    </label>
                    <label class="item item-input">
                        <!-- <span class="input-label">Budget</span> -->
                        <input type="number" placeholder="Budget 500.00" ng-model="addWeddingData.budget" step="0.01" ng-required="true">
                    </label>
                    <label class="item">
                        <button ng-disabled="!addWeddingForm.$valid" class="button button-block button-positive bs" type="submit"><i class="icon ion-ios7-checkmark-outline"></i> Next</button>
                    </label>
                </div>
            </form>
    </ion-content>
</div>

