<ion-view view-title="login" class="login-view">
	<ion-content>
		<div class="row">
			<img class="wedrr-logo" ng-src="../img/wedrr-logo-dark.png" alt="wedrr logo" width="177" height="168">
		</div>
		<a class="button button-large button-facebook" ng-href="#/weddings">
		 	<i class="icon ion-social-facebook"> </i>Login with Facebook
		</a>		
<!-- 		<button class="button button-large button-facebook" ng-click="login()">
		 	<i class="icon ion-social-facebook"> </i>Login with Facebook
		</button> -->
	</ion-content>
</ion-view>
