<ion-view view-title="map" class="maps-view">
  <ion-nav-title>
    <span>Maps</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="mapWrap"  data-tap-disabled="true">
      <div class="row center-map-action">
        <div class="col">
          <div class="list">
            <div class="item item-input-inset">
              <a class="button button-icon icon ion-pinpoint" ng-click="centerOnMe()"></a>
              <label class="item-input-wrapper">
                <input type="text" placeholder="My Location" disabled ng-model="my_location">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div id="map"></div>
      <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
           <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
      </div>
<!--
      <map center="39.56754,2.64820" zoom="6">
        <info-window position="39.56754,2.64820" visible="true">
          <span>Loation found using HTML5.</span>
        </info-window>
        <info-window position="39.5752022,2.6414882" visible="true">
          <span>Comilona</span>
        </info-window>
        <marker position="39.56754,2.64820" on-click="click()" title="Click to zoom"></marker>
      </map>
-->
    </div>

<style>

#map {
    height:100%;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

</style>

  </ion-content>
</ion-view>