<ion-view cache-view="false" view-title="Menu" ng-controller="menuController">
    <ion-content>
      <!--
        TODO
          · Agregar opciones de edición?
          · Sincronizar con SRV (DB)
      -->

      <ion-list class="list">
        <ion-item collection-repeat="menuItem in menuList" style="padding:0px;">
          <div class="item item-divider menuHeader item-icon-right" >
            {{menuItem.category}}
          </div>
          <a class="item item-avatar" href="#" ng-repeat="option in menuItem.options">
            <img ng-src="{{option.img}}" >
            <h2>{{option.name}}</h2>
            <p>{{option.description}}</p>
          </a>
        </ion-item>
      </ion-list>

    </ion-content>
</ion-view>
