<ion-view cache-view="false" view-title="Menu" ng-controller="menuController">
    <ion-content>
      <!--
        TODO
          · Agregar opciones de edición?
          · Sincronizar con SRV (DB)
      -->
      <!--
        TODO: Agregar soporte a swipe y opciones de editar y eliminar.
        ref: http://ionicframework.com/docs/api/directive/ionList/
      -->
      <div collection-repeat="menuItem in menuList">
        <div class="item item-divider" >
          {{menuItem.category}}
        </div>
        <ion-list class="list" show-delete="false" show-reorder="false" can-swipe="true">
          <ion-item class="item item-avatar" ng-repeat="option in menuItem.options" style="padding:0px;">
            <img ng-src="{{option.img}}" >
            <h2>{{option.name}}</h2>
            <p>{{option.description}}</p>
            <!-- TODO agregar icnos para platos picantes, veganos y para celiacos. -->
            <ion-option-button class="button-light icon ion-edit"></ion-option-button>
            <ion-option-button class="button-light icon ion-trash-b"></ion-option-button>
          </ion-item>
        </ion-list>
      <div>
    </ion-content>
</ion-view>
