<link rel="stylesheet" ng-href="css/photos.css">

<ion-view cache-view="false" view-title="Photos" ng-controller="photosController">
	<ion-content>
	<!--<ion-content scroll="true">-->
		<div class="pad-sides" data-masonry-options='{ "columnWidth": 20, "itemSelector": ".item" }'>
			<img ng-src="img/wedding-images/1/thumbs/{{ item.img_src_thumb }}" alt="a singer" ng-repeat="item in list" ng-click="showImages($index)">
		</div>
	</ion-content>
</ion-view>

<style>

ion-content{
	background: #57404C;
}

.pad-sides{
	background: #000;
	padding-top:52px;
}

.pad-sides img{
	max-width:30%;
	margin:.6% .6% .6% 2.2%;
}

</style>