 <ion-view class="wedding-view">
	<ion-nav-title>
	    <span>Weddr main</span>
	</ion-nav-title>
	<ion-content>
	    <div class="top-content row">

	      <div class="wedding-container">
	      	<!-- <div class="wedding-image"></div> -->
	      	<div class="wedding-title-top">Celebrating</div>
	      	<div class="wedding-title-bottom">the Wedding of</div>
	        <div class="wedding-name">{{ name }}</div>
	       
	      </div>
	    </div>
	    <div class="bottom-content">
	      <div class="wedding-bio">
	        <p>Dear friends and family.
	        We are getting married. We could'n be happier and hope 
	        that you join us for our Wedding. Check out our wedding 
	        schedule and photos.</p>
	      </div>
	    </div>
	</ion-content>

 </ion-view>